
/* MAIN SECTION */

/* main class */
.main {
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh
    position: relative;
    background-color:#131314
}

/* NAV SECTION */

/* nav class inside main class */
.main .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size:22px;
    padding:20px;
    color: #585858; 
}

.nav p{
    color: #E8EBED;
}

/* access img tag inside nav class and nav inside main class */
.main .nav img{
    width: 40px;
    border-radius:50%;
}

/* main-container class */
.main-container{
    max-width: 900px;
    margin: auto;
}

/* greet class inside main class*/
.main .greet{
    margin: 50px 0px;
    font-size: 56px;
    color: #444746;
    font-weight:500;
    padding: 20px;
}

/* gradient text inside greet class */
.main .greet span{
    background: -webkit-linear-gradient(16deg, #4b90ff,#ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* CARD SECTION */

/* cards class inside main class */
.main .cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 15px;
    padding:20px;
}

/* card class inside cards class */
.main .card{
    height:200px;
    padding: 15px;
    background-color: #1e1f20;
    border-radius: 10px;
    position: relative;
    cursor:pointer;
}

/* card-img class inside card class */
.main .card img{
    width: 35px;
    position: absolute;
    background-color: #131314;
    border-radius: 20px;
    bottom: 10px;
    right: 10px;
}

/* card-text class inside card class */
.main .card p{
    color: #585858;
    font-size: 17px;
}

.main .card:hover{
    background-color: #333537;

}



/* MAIN BOTTOM SECTION */

/* main-bottom class */
.main-bottom{
    position: absolute;
    bottom: 0;
    width:100%;
    max-width: 900px;
    padding: 0px 20px;
    margin: auto;
}

/* bottom-info class inside main-bottom class */
.search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #1e1f20;
    padding: 10px 20px;
    border-radius: 50px;
}

/* img tag inside search-box class */
.search-box img{
    width: 24px;
    cursor: pointer;
}

/* input tag inside search-box class */
.search-box input{
    flex: 1;
    background:transparent;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 18px;
    color:white;
}

/* div tag inside search-box class */
.search-box div{
    display: flex;
    align-items: center;
    gap: 15px;
}

/* bottom-info class inside main class*/
.main .bottom-info{
    font-size:13px;
    margin: 15px auto;
    text-align: center;
    font-weight: 400;
    color:#E8EBED;
}

/* span inside main-bottom class */
.main .main-bottom span{
    text-decoration: underline;
    cursor: pointer;
}

.result{
    padding: 0px 5%;
    max-height: 70vh;
    overflow-y: scroll;
}

.result::-webkit-scrollbar{
    display: none;
}

.result-title{
    margin: 40px 0px;
    display:flex;
    align-items: center;
    gap: 20px;
    color: #e8eaed
}

.result-title img{
    width: 40px;
    border-radius: 50%;
}

.result-data{
    display:flex;
    align-items: start;
    gap: 20px;
    color: #e8eaed
}

.result-data img{
    width: 40px;
    border-radius: 50%;
}

.loader{
    width:100%;
    display:flex;
    flex-direction: column;
    gap: 10px;
}

.loader hr{
    border-radius: 4px;
    border: none;
    background-color: #f6f7f8;
    background: linear-gradient(to right,#B0C4D3,#404040,#606060,#B0C4D3);
    background-size: 800px 50px;
    height:20px;    
    animation: loader 3s infinite linear;
}

.result-data{
    display: flex;
    align-items: start;
    gap:20px;    
}

.result-data p{
    font-size: 17px;
    font-weight: 300;
    line-height: 1.8;
}

@keyframes loader{
    0%{
        background-position: -800px 0px;
    }
    100%{
        background-position: 800px 0[x];
    }
}